/Colec_Alumnos/build/
/Colec_Alumno/nbproject/private/
/Colec_Alumno/build/
/Cine/nbproject/private/
/Cine/build/
/Paises/nbproject/private/
/Paises/build/
/Colec_Tienda/nbproject/private/
/Colec_Tienda/build/
/Colec_Extra_Libreria/nbproject/private/
/Relac_ManosALaObra1/nbproject/private/
/Relac_ManosALaObra1/build/
/Animal/nbproject/private/
/Animal/build/
/Guia_12_Electro_ejer_2/nbproject/private/
